/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

/* Variables */

$font-headings: Poppins, sans-serif;
$font-body: "Open Sans", sans-serif;

$primary-color: hsl(322, 100%, 66%);
$secondary-color: hsl(265, 100%, 66%);

$neutral-light: hsl(214, 64%, 98%);
$neutral-mid: hsl(208, 11%, 55%);
$neutral-dark: hsl(192, 100%, 9%);


/* General Styles */

body {
  background-color: $neutral-light;
  overflow-x: hidden;
}

.heading {
  color: $neutral-dark;
  font-family: $font-headings;
  font-weight: 600;
  margin-bottom: 10px;
}
h2.heading {
  font-size: 30px;
}
h3.heading {
  font-size: 24px;
}
h4.heading {
  font-size: 20px;
}

.paragraph {
  font: 18px $font-body;
  color: $neutral-mid;
  margin-bottom: 20px;
}

section {
  width: 100%;
  margin: 20px 0 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5% 3%;
  position: absolute;
  .logo {
    left: 0;
    max-width: 100%;
    height: auto;
  }
  button{
    right: 0;
    width: 150px;
    background-color: white;
    color: $secondary-color;
    border-radius: 3px;
    border: 1px $primary-color solid;
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.1);
  }
}

/* Intro - Background Shapes */

.svg-wrapper{
  // text-align:center;
}

.svg-corner{
  position: absolute;
  z-index: -1;
  rect {
    transform: translateX(50%) rotate(-35deg);
  }
}
.svg-intro{
  fill: white;
  position: absolute;
  z-index: -2;
  rect{
    transform: translateY(49%) translateX(10%) rotate(-35deg);
  }
}

/* Intro Styles */

.intro {
  padding: 50px 25%;
  margin-top: 0px;
  justify-content: center;
  width: 100%;
  // overflow: hidden;
  .section-content {
    text-align: center;
    // background-color: white;
  }
  img {
    width: inherit;
  }
}

button.get-started {
  background-color: $primary-color;
  color: $neutral-light;
  width: 200px;
  height: 50px;
  align-self: center;
  margin: 5px;
  border-radius: 3px;
}

/* Media/Content Section */

.half-img-half-text {
  display: flex;
  flex-direction: row;
  padding: 0px 5%;
  .section-image {
    flex-basis: 50%;
    display: flex;
    width: inherit;
    height: auto;
    background-image: url("./images/illustration-your-users.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .section-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
  }
}

/* Call-to-Action */

.call-to-action {
  height: 60vh;
  padding: 70px;
  margin-bottom: 100px;
  font: inherit;
  justify-content: center;
  align-items: center;
  .section-content{
    margin-bottom: 0;
    width: inherit;
    height: inherit;
    max-width: 800px;
    text-align: center;
    background-color: white;
    justify-content: center;
    align-self: center;
    box-shadow: 0px 10px 20px 15px rgba(0,0,0,0.1);
  }
}

/* Footer */

footer {
  width: 100%;
  height: 50vh;
  position: relative;
  bottom: 0;
  padding: 0 50px;
  color: $neutral-light;
  background-color: $neutral-dark;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  .social-icons {
    margin-bottom: 25px;
  }
  i {
    margin-right: 15px;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: rgba(255,255,255,1.0);
  }
  .grid-header {
    grid-column: 1/3;
    grid-row: 1;
    // text-align: right;
    display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-content: center;
    img {
      align-self: flex-end;
      bottom: 0;
      margin: 20px 0 10px 0;
      width: 132px;
      height: 33;

    }
  }
  .grid-left{
    grid-column: 1;
    grid-row: 2/4;
    .copyright {
      font: 10px $font-body;
      color: rgba(255,255,255,0.8);
    }
  }
  .grid-middle{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    nav li {
      margin-bottom: 20px;
      font: 12px $font-body;
      color: rgba(255,255,255,0.8);
    }
  }
  .grid-right{
    grid-column: 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    h5 {
      font: 18px $font-headings;
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    input{
      width: 100%;
      height: 3em;
      border-radius:5px;
    }
    .paragraph{
      font-size: 11px;
      color: rgba(255,255,255,0.8);
    }
  }
}

button.subscribe {
  background-color: $primary-color;
  color: $neutral-light;
  width: 150px;
  height: 40px;
  float: right;
  margin: 5px;
  margin-right: 0;
  border-radius: 3px;
  font: 12px $font-body;
  font-weight: 400;
  align-self: flex-end;
}

@media (max-width: 800px) {
  section {
    margin: 0;
  }

  .intro {
    padding: 50px 15% 0;
  }

  .half-img-half-text{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    // padding: 0 15%;
    height: max-content;
    .section-image {
      height: 30vh;
      margin-bottom: 20%;
    }
  }

  .call-to-action{
    padding: 15vh 20px;
    .section-content{
      padding:20px;
      .paragraph {
        margin-bottom: 10px;
        line-height: 1em;
      }
    }
  }

  footer {
    height: max-content;
  }

}

@media (max-width:600px) {

  h2.heading {
    font-size: 26px;
  }
  h3.heading {
    font-size: 20px;
  }
  h4.heading {
    font-size: 16px;
  }

  .paragraph {
    font-size: 14px;
  }

header {
  .logo {
    width: 200px;
    height: 33px;
  }
  button{
    width: 125px;
  }
}

  .call-to-action{
    // padding: 20% 20px;
    .section-content{
      padding:20px;

    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: max-content;
    .social-icons {
      margin-bottom: 5px;
    }
    .grid-left {
      position: absolute;
      bottom: 0;
      align-self: center;
    }
    .grid-middle{
      flex-direction: column;
      align-content: flex-start;
      text-align: left;
    }
    .grid-right {
      margin-bottom: 100px;
      h5 {
        margin-bottom: 5px;
      }
    }

    button.subscribe {
      width: 100%;
      border: 0;
    }
  }
}
@media (max-width: 440px) {
  .paragraph {
    font-size: 12px;
  }

  header {
    height: max-content;
    padding-bottom: 0;
    .logo {
      width: 150px;
      height: 25px;
    }
    button{
      width: 125px;
      height: 30px;
    }
  }

  .call-to-action{
    padding: 15vh 20px;
  }
}
